*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#050816,#0d1b3d,#1d0b2e);
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

/* Stars */

#stars{
    position:absolute;
    width:100%;
    height:100%;
    background-image:
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(#fff 2px,transparent 2px);
    background-size:180px 180px,250px 250px,350px 350px;
    animation:starsMove 60s linear infinite;
    opacity:.9;
}

@keyframes starsMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-400px);
    }
}

/* Moon */

.moon{
    position:absolute;
    top:60px;
    right:80px;
    width:110px;
    height:110px;
    border-radius:50%;
    background:#fff7d1;
    box-shadow:
    0 0 25px #fff,
    0 0 60px #ffe98a,
    0 0 100px #ffe98a;
}

/*
